/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Mettere come classe .img-fluid se necessario */
.card-header {
    /* text-align: center; */

    /* height: 150px; */
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0;
}
img {
    /* max-height: 100px; */

    display: block;
    object-fit: cover;
    object-position: center;
}